.cap {
	max-width: 1500px;
	padding-right: 20px !important;
	padding-left: 20px !important;
	margin: 0 auto;
	@media screen and (min-width: $midwidth){
		padding-right: 4% !important;
		padding-left: 4% !important;
	}
}
.clear-bottom {
	&:after {
	  clear: both;
	  content: "";
	  display: block;
	}
  }
.copy {
	font-size: 14px;
	color: $color__text-main;
	@media screen and (min-width: $tabwidth){
	  font-size: 16px;
	}
	> *:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
	> *:last-child {
	  margin-bottom: 0;
	  padding-bottom: 0;
	}
	p {
	  margin: 20px 0;
	}
	strong, b, em {
	  font-weight: 800;
	}
	a {
	  text-decoration: none;
	  color: $color__text-main;
	  position: relative;
	  &:hover {
		color: $color__text-main;
		text-decoration: underline;
	  }
	}
	h1, h2, h3 {
	  margin: 0 0 10px 0;
	  text-transform: uppercase;
	  color: $color__text-main;
	}
	h1 {
	  font-size: 30px;
	}
	h2 {
	  font-size: 25px;
	}
	h3 {
	  font-size: 20px;
	}
	ul, ol {
	  padding: 0;
	  margin: 0 0 20px 40px;
	  font-size: inherit;
	  li {
			margin: 0;
			font-size: inherit;
			padding: 0;
			list-style-type: disc;
			a {
				cursor: pointer;
				&:hover {
					color: $color__text-main;
				}
			}
	  }
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
}
a.button {
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px 30px;
	text-align: center;
	border: 1px solid $color__cs-green;
	color: inherit;
	text-decoration: none;
	display: inline-block;
}
body {
	border-top: 10px solid $color__cs-blue;
}
#masthead {
	box-shadow: 2px 0 10px black;
	z-index: 100;
	position: relative;
	>.wrapper {
		padding: 20px 0;
		@media screen and (min-width: $tabwidth){
			@include flexbox();
			@include flexbox-justify(space-between);
			@include flexbox-align-content(center);
			@include flexbox-align-items(center);
		}
		>.logo {
			max-width: 300px;
			margin: 0 auto;
			@media screen and (min-width: $tabwidth){
				width: 30%;
				margin: 0;
			}
			a {
				display: block;
				img {
					display: block;
					width: 100%;
				}
			}
		}
		nav#site-navigation {
			text-align: center;
			margin: 20px 0 0 0;
			@media screen and (min-width: $tabwidth){
				text-align: right;
				margin: 0;
			}
			&.toggled {
				>div {
					display: block;
				}
			}
			>button {
				display: inline-block;
				font-size: 18px;
				box-shadow: none;
				border: none;
				background-color: $color__cs-blue;
				color: white;
				@media screen and (min-width: $tabwidth){
					display: none;
				}
			}
			>div {
				display: none;
				@media screen and (min-width: $tabwidth){
					display: block;
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						list-style-type: none;
						margin: 20px 0 0 0;
						@media screen and (min-width: $tabwidth){
							margin: 0 20px;
							display: inline-block;
						}
						a {
							color: inherit;
							text-decoration: none;
							font-size: 18px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}

#colophon {
	background-color: $color__cs-green;
	color: white;
	text-align: center;
	>.wrapper {
		padding: 20px 0;
		@media screen and (min-width: $tabwidth){
			padding: 50px 0;
		}
		>.row-1 {
			>div {
				ul {
					margin: 0;
					padding: 0;
					li {
						margin: 10px 0 0 0;
						list-style-type: none;
						@media screen and (min-width: $tabwidth){
							display: inline-block;
							margin: 0 10px;
						}
						&:first-child {
							margin-top: 0;
						}
						a {
							color: inherit;
							text-transform: uppercase;
							font-size: 18px;
							text-decoration: none;
						}
					}
				}
			}
		}
		>.row-2 {
			margin: 20px 0 0 0;
			>.social {
				a {
					display: inline-block;
					font-size: 35px;
					color: inherit;
					margin: 0 10px;
					i {

					}
				}
			}
		}
		>.row-3 {
			margin: 20px 0 0 0;
			color: inherit;
			font-size: 18px;
		}
	}
}