/* Pagination
-------------------------------------------------------------- */
.navigation {
	width: 100%;
	margin: 20px 0 0 0;
	@media screen and (min-width: $midwidth){
		margin: 40px 0 0 0;
	}

	& ul {
		margin: 0;
		padding: 0;
	}

	& li {
		margin: 10px 0 0 0;
		display: inline-block;
		list-style: none;
	}
	& a {
		display: block;
	}
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	text-decoration:none;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: $color__cs-blue;
	background-color: white;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
	@include transition(.3s ease all);
}
 
.navigation li a:hover,
.navigation li.active a {
	color: white;
	background-color: $color__cs-blue;
}