.template-index {
	>.row-1 {
		img {
			&.full {
				width: 100%;
				display: block;
			}
			&.overlay {

			}
		}
	}
	>.block {
		padding: 20px;
		@media screen and (min-width: $tabwidth) {
			float: left;
			width: 50%;
			padding: 40px;
			@include flexbox();
			@include flexbox-align-content(center);
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
			@include flexbox-direction(column);
		}
		@media screen and (min-width: $midwidth) {
			padding: 60px 50px;
		}
		.copy {
			font-size: 18px;
		}
	}
	>.block-1 {
		@media screen and (min-width: $tabwidth) {
			padding-left: 4%;
		}
		>.wrapper {
			>.col-1 {
				@media screen and (min-width: $tabwidth) {
					float: left;
					width: 50%;
					padding: 0 10px 0 0 ;
				}
				@media screen and (min-width: $midwidth) {
					padding: 0 30px 0 0 ;
				}
				img {
					width: 100%;
					display: block;
				}
			}
			>.col-2 {
				@media screen and (min-width: $tabwidth) {
					float: left;
					width: 50%;
					padding: 0 0 0 10px;
				}
				@media screen and (min-width: $midwidth) {
					padding: 0 0 0 30px ;
				}
				h2 {
					font-size: 30px;
					font-weight: 500;
					line-height: 1.2;
					margin: 20px 0 0 0;
					@media screen and (min-width: $midwidth) {
						font-size: 40px;
						margin: 0;
					}
				}
				.copy {
					margin: 20px 0 0 0;
				}
				a.button {
					margin: 20px 0 0 0;
					background-color: $color__cs-grey;
					@media screen and (min-width: $tabwidth) {
						margin: 60px 0 0 0;
					}
				}
			}
		}
	}
	>.block-2 {
		background-color: $color__cs-grey;
		@media screen and (min-width: $tabwidth) {
			padding-right: 4%;
		}
		>.wrapper {
			position: relative;
			width: 100%;
			margin: 0 0 20px 0;
			h2 {
				top: 10px;
				left: 50%;
				width: 60%;
				@include translatexy(-50%,0);
				background-color: rgba(255,255,255,0.4);
				position: absolute;
				padding: 5px 10px;
				text-transform: uppercase;
				text-align: center;
				display: none;
				@media screen and (min-width: $midwidth) {
					display: block;
				}
			}
			img {
				display: block;
				width: 100%;
			}
			.subtitle.copy {
				width: 90%;
				margin: -30px auto 0 auto;
				background-color: rgba(255,255,255,0.4);
				padding: 10px 20px;
				text-align: center;
				position: relative;
				z-index: 100;
			}
		}
		a.button {
			background-color: white;

		}
	}
	>.block-3 {
		background-color: $color__cs-grey;
		@media screen and (min-width: $tabwidth) {
			padding-left: 4%;
		}
		.event {
			img {
				width: 100%;
				display: block;
			}
			h2 {
				font-size: 30px;
				font-weight: 500;
				line-height: 1.2;
				margin: 20px 0 0 0;
				@media screen and (min-width: $midwidth) {
					font-size: 40px;
				}
			}
			.copy {
				margin: 10px 0 0 0;

			}
			a.button {
				margin: 20px 0 0 0;
				background-color: white;

			}
		}
	}
	>.block-4 {
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			padding-right: 4%;
		}
		h2 {
			font-size: 30px;
			font-weight: 500;
			line-height: 1.2;
			margin: 20px 0 0 0;
			@media screen and (min-width: $midwidth) {
				font-size: 40px;
			}
		}
		.subtitle.copy {
			margin: 10px 0 0 0;
			@media screen and (min-width: $midwidth) {
				margin: 10px auto 0 auto;
				width: 60%;
			}
		}
		#mc_embed_signup {
			width: 100%;
			form {
				margin: 20px 0 0 0;
				width: 100%;
				@media screen and (min-width: $midwidth) {
					margin: 50px 0 0 0;
				}
				input, textarea {
					border: 1px solid $color__cs-green;
					border-radius: 0px;
					background-color: $color__cs-grey;
					color: $color__text-main;
					padding: 10px 20px;
					width: 80%;
				}
				&::-webkit-input-placeholder {
					color: $color__text-main !important;
				}
				&:-ms-input-placeholder {
					color: $color__text-main !important;
				}
				&::-moz-placeholder {
					color: $color__text-main !important;
				}
				&:-moz-placeholder {
					color: $color__text-main !important;
				}
				input[type=submit]{
					text-transform: uppercase;
					font-size: 20px;
					padding: 10px 30px;
					margin: 10px 0 0 0;
					text-align: center;
					border: 1px solid $color__cs-green;
					color: inherit;
					text-decoration: none;
					display: inline-block;
					box-shadow: none;
					width: auto;
				}
			}
		}
	}
}

.template-two-col {
	>.row-1 {
		img {
			width: 100%;
			display: block;
		}
	}
	>.row-2.wrapper.cap {
		padding: 20px 0;
		@media screen and (min-width: $midwidth) {
			padding: 60px 0;
		}
		>header {
			h1 {
				font-size: 30px;
				line-height: 1.2;
				margin:0;
				text-transform: uppercase;
				@media screen and (min-width: $midwidth) {
					font-size: 40px;
					margin: 0;
				}
			}
		}
		>.wrapper {
			margin: 20px 0 0 0;
			>.col-1 {
				min-height: 1px;
				@media screen and (min-width: $midwidth) {
					float: left;
					width: 70%;
					padding: 0 80px 0 0;
				}
			}
			>.col-2 {
				min-height: 1px;
				margin: 40px 0 0 0;
				@media screen and (min-width: $midwidth) {
					float: left;
					margin: 0;
					width: 30%;
				}
				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
}

.template-contact {
	>.row-1 {
		img {
			width: 100%;
			display: block;
		}
	}
	>.row-2.wrapper {
		>.col-1 {
			padding: 20px;
			@media screen and (min-width: $midwidth) {
				padding: 60px 4%;
				float: left;
				width: 50%;
			}
			>.row {
				border-bottom: 1px solid $color__cs-blue;
				padding: 20px 0;
				@media screen and (min-width: $midwidth) {
					padding: 40px 0;
				}
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
				}
				header {
					h1, h2 {
						font-size: 30px;
						line-height: 1.2;
						margin:0;
						@media screen and (min-width: $midwidth) {
							font-size: 40px;
							margin: 0;
						}
					}
					h1 {
						text-transform: uppercase;
					}
				}
				.copy {
					margin: 20px 0 0 0;
				}
			}
		}
		>.col-2 {
			background-color: $color__cs-grey;
			padding: 20px;
			@media screen and (min-width: $midwidth) {
				padding: 60px 4%;
				float: left;
				width: 50%;
			}
			>.row {
				padding: 20px 0;
				@media screen and (min-width: $midwidth) {
					padding: 40px 0;
				}
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: 0;
				}
				header {
					h2 {
						font-size: 30px;
						line-height: 1.2;
						margin:0;
						@media screen and (min-width: $midwidth) {
							font-size: 40px;
							margin: 0;
						}
					}
				}
			}
			>.row-1 {
				border-bottom: 1px solid $color__cs-blue;
				.links {
					margin: 20px 0 0 0;
					a.blue-button {
						width: 100%;
						display: block;
						text-align: left;
						background-color: $color__cs-blue;
						font-size: 25px;
						color: white;
						text-decoration: none;
						padding: 5px 30px;
						font-weight: 700;
						margin: 30px 0 0 0;
						@media screen and (min-width: $midwidth) {
							font-size: 30px;
						}
						i {
							font-size: 30px;
							vertical-align: middle;
							@media screen and (min-width: $midwidth) {
								font-size: 45px;
								float: right;
							}
						}
					}
				}
			}
			>.row-2 {
				.copy {
					margin: 10px 0 0 0;
				}
				#mc_embed_signup {
					margin: 20px 0 0 0;
					form {
						input, textarea {
							border: 1px solid $color__cs-blue;
							border-radius: 0px;
							background-color: white;
							color: $color__text-main;
							padding: 10px 20px;
							width: 100%;
						}
						&::-webkit-input-placeholder {
							color: $color__text-main !important;
						}
						&:-ms-input-placeholder {
							color: $color__text-main !important;
						}
						&::-moz-placeholder {
							color: $color__text-main !important;
						}
						&:-moz-placeholder {
							color: $color__text-main !important;
						}
						input[type=submit]{
							background-color: $color__cs-blue;
							color: white;
							font-size: 30px;
							font-weight: 700;
							box-shadow: none;
							text-shadow: none;
							padding: 10px 30px;
							margin: 15px 0 0 0;
							@media screen and (min-width: $midwidth) {
								font-size: 35px;
							}
						}
					}
				}
			}
		}
	}
}

.template-speechwriting {
	>.row-1 {
		img {
			width: 100%;
			display: block;
		}
	}
	>.row-2.wrapper {
		>.col-1 {
			padding: 20px;
			@media screen and (min-width: $midwidth) {
				padding: 60px 4%;
				float: left;
				width: 50%;
			}
			>.row-1 {
				>header {
					h1 {
						font-size: 30px;
						line-height: 1.2;
						margin:0;
						text-transform: uppercase;
						@media screen and (min-width: $midwidth) {
							font-size: 40px;
							margin: 0;
						}
					}
				}
				.copy {
					margin: 20px 0 0 0;
				}
				a.blue-button {
					width: 100%;
					display: block;
					text-align: left;
					background-color: $color__cs-blue;
					font-size: 25px;
					color: white;
					text-decoration: none;
					padding: 5px 30px;
					font-weight: 700;
					margin: 30px 0 0 0;
					@media screen and (min-width: $midwidth) {
						font-size: 30px;
						margin: 80px 0 0 0;
					}
					i {
						font-size: 30px;
						vertical-align: middle;
						@media screen and (min-width: $midwidth) {
							font-size: 45px;
							float: right;
						}
					}
				}
			}
			.testimonials {
				margin: 40px 0 0 0;
				@media screen and (min-width: $midwidth) {
					margin: 120px 0 0 0;
				}
				>header {
					margin: 0 0 20px 0;
					h2 {
						font-size: 30px;
						line-height: 1.2;
						margin:0;
						text-transform: uppercase;
						@media screen and (min-width: $midwidth) {
							font-size: 35px;
							margin: 0;
						}
					}
				}
				.testimonial {
					padding: 20px 0;
					border-bottom: 5px solid $color__cs-blue;
					@media screen and (min-width: $midwidth) {
						padding: 50px 0;
					}
					em {
						font-weight: 300;
					}
				}
			}
		}
		>.col-2 {
			background-color: $color__cs-grey;
			padding: 20px;
			@media screen and (min-width: $midwidth) {
				padding: 60px 4%;
				float: left;
				width: 50%;
			}
			img {
				margin: 0 auto;
				width: 80%;
				display: block;
			}
			header {
				margin: 20px 0 0 0;
				@media screen and (min-width: $midwidth) {
					margin: 80px 0 0 0;
				}
				h2 {
					font-size: 30px;
					line-height: 1.2;
					margin:0;
					text-transform: uppercase;
					@media screen and (min-width: $midwidth) {
						font-size: 35px;
						margin: 0;
					}
				}
			}
			form {
				input, textarea {
					border: 1px solid $color__cs-blue;
					border-radius: 0px;
				}
				input[type=submit]{
					background-color: $color__cs-blue;
					color: white;
					font-size: 30px;
					font-weight: 700;
					box-shadow: none;
					text-shadow: none;
					padding: 10px 30px;
					@media screen and (min-width: $midwidth) {
						font-size: 35px;
					}
				}
			}
		}
	}
}

.template-page {
	>.row-1 {
		img {
			display: block;
			width: 100%;
		}
	}
	>.row-2.wrapper {
		padding: 20px 0;
		@media screen and (min-width: $midwidth) {
			padding: 60px 0;
		}
		header {
			h1 {
				font-size: 30px;
				line-height: 1.2;
				margin:0;
				text-transform: uppercase;
				@media screen and (min-width: $midwidth) {
					font-size: 40px;
					margin: 0;
				}
			}
		}
		.copy {
			margin: 20px 0 0 0;
		}
	}
}

.template-blog {
	background-color: $color__cs-grey;
	>.row-1 {
		img {
			width: 100%;
			display: block;
		}
	}
	>.row-2.wrapper.cap {
		padding: 20px 0;
		@media screen and (min-width: $midwidth) {
			padding: 60px 0;
		}
		>header {
			h1, .blog-title {
				font-size: 30px;
				line-height: 1.2;
				margin:0;
				font-weight: 700;
				color: $color__cs-blue;
				text-transform: uppercase;
				@media screen and (min-width: $midwidth) {
					font-size: 40px;
					margin: 0;
				}
			}
		}
		>.wrapper {
			margin: 20px 0 0 0;
			>.col-1 {
				min-height: 1px;
				@media screen and (min-width: $midwidth) {
					float: left;
					width: 70%;
					padding: 0 80px 0 0;
				}
				.posts {
					.post {
						background-color: white;
						padding: 20px;
						box-shadow: 0 0 5px black;
						text-align: center;
						margin: 20px 0 0 0;
						@media screen and (min-width: $midwidth) {
							padding: 20px 30px 100px 30px;
							margin: 50px 0 0 0;
						}
						&:first-child {
							margin-top: 0;
						}
						>header {
							h2, h1 {
								font-size: 30px;
								line-height: 1.2;
								margin:0;
								text-align: left;
								@media screen and (min-width: $midwidth) {
									font-size: 40px;
									margin: 0;
								}
							}
						}
						>img {
							width: 100%;
							display: block;
							margin: 15px 0 0 0;
						}
						.copy {
							margin: 25px 0 0 0;
							text-align: left;
						}
						a.blue-button {
							display: inline-block;
							background-color: $color__cs-blue;
							font-size: 25px;
							color: white;
							text-decoration: none;
							padding: 5px 30px;
							font-weight: 700;
							margin: 30px 0 0 0;
							@media screen and (min-width: $midwidth) {
								font-size: 30px;
								margin: 70px 0 0 0;
								text-align: left;
							}
							i {
								font-size: 30px;
								vertical-align: middle;
								@media screen and (min-width: $midwidth) {
									font-size: 45px;
									float: right;
								}
							}
						}
					}
				}
			}
			>.col-2 {
				min-height: 1px;
				margin: 40px 0 0 0;
				@media screen and (min-width: $midwidth) {
					float: left;
					margin: 0;
					width: 30%;
				}
				img {
					width: 100%;
					display: block;
				}
				.copy {
					margin: 15px 0 0 0;
				}
				>h2 {
					text-align: left;
					font-size: 20px;
					line-height: 1.2;
					margin: 20px 0 0 0;
					text-transform: uppercase;
					@media screen and (min-width: $midwidth) {
						margin: 40px 0 0 0;
						font-size: 25px;
					}
					&:first-child {
						margin-top: 0;
					}
				}
				ul {
					margin: 20px 0 0 0;
					padding: 0;
					li {
						list-style-type: none;
						a {
							color: inherit;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}